@model OrderModel

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebKurs.styles.css" asp-append-version="true" />
    <title>Заказ</title>
</head>
@Html.Partial("OrderPartial", Model)
<form asp-controller="Order" asp-action="AddOrderResult" method="post">
    <input type="hidden" asp-for="Username" value="@Model.Username" />
    <input type="hidden" asp-for="Date" value="@Model.Date" />
    <input type="hidden" asp-for="TotalPrice" value="@Model.TotalPrice" />

    <button type="submit" class="btn btn-outline-success">Оформить заказ</button>
</form>
</html>
