@model Tuple<List<PIS.Tour>, double>
<!DOCTYPE html>
<html>
<head>
    <title>Заказ</title>
</head>
<body>
    <h1>Заказ туров</h1>
    @if (Model.Item1.Any())
    {
    @Html.Partial("TourPartial", Model.Item1)
    <h2>Общая стоимость заказа: @Model.Item2</h2>
        <form asp-controller="Order" asp-action="AddOrder" method="post">
            <button type="submit" class="btn btn-outline-success">Оформить заказ</button>
        </form>
    }
    else
    {
        <h1>У вас нет выбранных туров</h1>
    }
    
</body>
</html>
