@model IEnumerable<PIS.Attraction>

@{
    ViewData["Title"] = "Index";
}


<div>
	<h1>Просмотр достопримечательностей</h1>
    @foreach(var item in Model)
    {
        @Html.Partial("AttractionPartial", item)
    }
</div>
