@model IEnumerable<PIS.Attraction>

@{
    ViewData["Title"] = "Index";
}
<style>
    .city-info {
        display: flex;
    }

    .city-photo {
        margin-right: 10px;
        width: 200px;
        height: auto;
    }

    .city-details {
        flex-grow: 1;
    }
</style>


<div>
	<h1>Просмотр достопримечательностей</h1>
    @Html.Partial("AttractionPartial",Model)
</div>
