@{
    ViewData["Title"] = "Поиск";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller ="Search" asp-action="Search" method="get">
    <input type="text" name="query" value="" />
    <button type="submit">Найти</button>
</form>