@model SearchViewModel

@{
    ViewData["Title"] = "Результаты поиска";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>Результаты поиска</h1>

    <h2>Туры</h2>

    @if (Model.Tours != null && Model.Tours.Any())
    {
        @Html.Partial("TourPartial",Model.Tours)
    }
    else
    {
        <p>Ничего не найдено для туров.</p>
    }

	<h2>Достопримечательности</h2>

    @if (Model.Attractions != null && Model.Attractions.Any())
    {
        @foreach (var item in Model.Attractions)
        {
            @Html.Partial("AttractionPartial", item)
        }
    }
    else
    {
        <p>Ничего не найдено для достопримечательностей.</p>
    }

	<h2>Города</h2>

    @if (Model.Cities != null && Model.Cities.Any())
    {
        @Html.Partial("CityPartial", Model.Cities)
    }
    else
    {
        <p>Ничего не найдено для городов.</p>
    }
</body>
</html>
