@model SearchViewModel

@{
    ViewData["Title"] = "Результаты поиска";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>Результаты поиска</h1>

    @if ((Model.Tours == null || !Model.Tours.Any()) &&
    (Model.Attractions == null || !Model.Attractions.Any()) &&
    (Model.Cities == null || !Model.Cities.Any()))
    {
        <p>Ничего не найдено.</p>
    }

    @if (Model.Tours != null && Model.Tours.Any())
    {
        <h2>Туры</h2>
        @Html.Partial("TourPartial",Model.Tours)
    }

    @if (Model.Attractions != null && Model.Attractions.Any())
    {
        <h2>Достопримечательности</h2>
        @foreach (var item in Model.Attractions)
        {
            @Html.Partial("AttractionPartial", item)
        }
    }

    @if (Model.Cities != null && Model.Cities.Any())
    {
        <h2>Города</h2>
        @Html.Partial("CityPartial", Model.Cities)
    }

</body>
</html>
