@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    @if ((bool)ViewData["IsLoggedIn"])
    {
        <h1 class="display-4">Добро пожаловать, @ViewData["Username"]!</h1>
    }
    else
    {
        <h1 class="display-4">Добро пожаловать, путешественник!</h1>
    }
</div>
