@model PIS.Attraction

<style>
    .city-info {
        display: flex;
    }

    .city-photo {
        margin-right: 10px;
        width: 200px;
        height: auto;
    }

    .city-details {
        flex-grow: 1;
    }
</style>

<table class="table">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="city-info">
                <img src="@Model.AttractionPhotoUrl" class="city-photo" alt="Фото города">
                <div class="city-details">
                    <strong>@Model.AttractionName</strong><br>
                    <span>@Model.AttractionDescription</span>
                </div>
            </td>
        </tr>
    </tbody>
</table>

