@model OrderModel

<h1>Детали заказа</h1>
<h2>Пользователь: @Model.Username</h2>
<h2>Дата заказа: @Model.Date</h2>
<h2>Общая стоимость заказа: @Model.TotalPrice</h2>

<h2>Выбранные туры:</h2>

@Html.Partial("TourPartial", Model.TourList)