@model UserModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Личный кабинет
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Информация о пользователе</h5>
                        <ul class="list-group">
                            <li class="list-group-item">Имя: <span id="username">@Model.Username</span></li>
                            <li class="list-group-item">Email: <span id="email">@Model.Email</span></li>
                        </ul>
                        <div class="mt-3">
                            <a href="#" class="btn btn-primary">Редактировать профиль</a>
                            <a asp-controller="Account" asp-action="Order" class="btn btn-success">Заказы</a>
                            <a asp-controller="Account" asp-action="Exit" class="btn btn-danger">Выйти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

