@model Dictionary<string, string>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Смена пароля</title>
    <style>
        form {
            max-width: 400px;
            margin: 0 auto;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            box-sizing: border-box;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }

            button:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <h1>Смена почты, ника или пароля</h1>
    @if (ViewBag.Message != null)
    {
        <div class="message-container">
            <p>@ViewBag.Message</p>
        </div>
    }
    <form action="UpdatePassword" method="POST">
        <label for="password">Новый пароль:(оставьте пустым, если не хотите менять)</label>
        <input type="password" id="newPassword" name="newPassword">
        @if (Model.ContainsKey("UnCorrectPassword"))
        {
            <div class="text-danger">@Model["UnCorrectPassword"]</div>
        }
        <label for="password">Старый пароль:</label>
        <input type="password" id="password" name="password" required>
        @if (Model.ContainsKey("InvalidPassword"))
        {
            <div class="text-danger">@Model["InvalidPassword"]</div>
        }
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>

